In [1]:
import pandas as pd
import numpy as np

In [62]:
filelang = "C:\\Users\\onvac\\OneDrive\\Desktop\\Python\\Training\\Udemy course\\MyTraining files\\ForAnaconda\\5_Data\\endangeredLang.csv"
data = pd.read_csv(filelang)
print(type(data))
data.head()

<class 'pandas.core.frame.DataFrame'>

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [6]:
data[2:]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
...,...,...,...,...,...,...,...,...,...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [8]:
data[::3]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
...,...,...,...,...,...,...,...,...,...
2709,2475,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,99.6519,NaN
2712,283,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,-72.2460,NaN
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,57.5360,the Yaz’va Valley in Krasnovishera County in n...
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [12]:
data.iloc[[3,5], 2:5]

,Countries,Country codes alpha 3,Degree of endangerment
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable
5,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered

In [20]:
data.loc[[4:8],:]

SyntaxError: invalid syntax (1918811997.py, line 1)

In [21]:
# CHECK data[['Countries','Name in English']][4:8]

                                           Countries   Name in English
4                                 Italy, Switzerland           Lombard
5  Albania, Germany, Austria, Belarus, Bosnia and...            Romani
6                                             Israel  Yiddish (Israel)
7                                              India             Gondi

In [30]:
data[data.Countries == "Italy"].head()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia
53,353,Friulian,Italy,ITA,Definitely endangered,600000.0,46.1037,13.1396,the Autonomous Region Friuli-Venezia Giulia ex...

In [60]:
data[data.Countries.isin(["Italy","Germany"])].tail()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
1315,351,Faetar,Italy,ITA,Degree_of_endangerment,600.0,41.3265,15.1721,Faeto and Celle San Vito in Foggia Province in...
1455,1345,Cimbrian,Italy,ITA,Degree_of_endangerment,400.0,45.8670,11.4268,vigorously spoken in Luserna (Lusern) in Trent...
1506,357,Gardiol,Italy,ITA,Degree_of_endangerment,340.0,39.4658,15.9933,Guardia Piedmontese in Calabria; an outlying d...
1663,1344,Töitschu,Italy,ITA,Degree_of_endangerment,200.0,45.6913,7.8682,the village of Issime (Eischeme) in the upper ...
2470,403,Polabian,Germany,DEU,Degree_of_endangerment,0.0,53.0940,11.3461,"the Elbe River basin in northeastern Germany, ..."

In [61]:
df = data[:]

df.rename(columns={"Degree of endangerment": "Degree_of_endangerment"},inplace=True)
print(df)

df[(df.Countries == "India") & (df.Degree_of_endangerment == "Vulnerable")]

        ID    Name in English  \
0     1022      South Italian
1     1023           Sicilian
2      383          Low Saxon
3      335         Belarusian
4      382            Lombard
...    ...                ...
2717  1972           Yonaguni
2718  2018             Yucuna
2719  2015  Yurutí (Colombia)
2720  2716          Zangskari
2721  2177            Zidgali

                                              Countries  \
0                                                 Italy
1                                                 Italy
2     Germany, Denmark, Netherlands, Poland, Russian...
3     Belarus, Latvia, Lithuania, Poland, Russian Fe...
4                                    Italy, Switzerland
...                                                 ...
2717                                              Japan
2718                                           Colombia
2719                                           Colombia
2720                                    India, Pakistan
2721                                               Oman

             Country codes alpha 3  Degree_of_endangerment  \
0                              ITA  Degree_of_endangerment
1                              ITA  Degree_of_endangerment
2          DEU, DNK, NLD, POL, RUS  Degree_of_endangerment
3     BRB, LVA, LTU, POL, RUS, UKR  Degree_of_endangerment
4                         ITA, CHE  Degree_of_endangerment
...                            ...                     ...
2717                           JPN  Degree_of_endangerment
2718                           COL  Degree_of_endangerment
2719                           COL  Degree_of_endangerment
2720                      IND, PAK  Degree_of_endangerment
2721                           OMN  Degree_of_endangerment

      Number of speakers  Latitude  Longitude  \
0              7500000.0   40.9798    15.2490
1              5000000.0   37.4399    14.5019
2              4800000.0   53.4029    10.3601
3              4000000.0   53.9560    27.5756
4              3500000.0   45.7215     9.3273
...                  ...       ...        ...
2717                 NaN   24.4580   122.9802
2718                 NaN   -1.2633   -70.6640
2719                 NaN    1.1370   -70.2136
2720                 NaN   34.0833    76.8500
2721                 NaN   23.4027    58.0957

                            Description of the location
0     Campania, Lucania (Basilicata), Abruzzi (Abruz...
1     Sicily (Sicilia), southern and central Calabri...
2     northern Germany, the north-eastern part of th...
3     Belarus except the Polesian-speaking south-wes...
4     the region of Lombardy (except the southernmos...
...                                                 ...
2717                                    Yonaguni Island
2718                                                NaN
2719                                                NaN
2720                                                NaN
2721                             Capital area of Muscat

[2722 rows x 9 columns]

Empty DataFrame
Columns: [ID, Name in English, Countries, Country codes alpha 3, Degree_of_endangerment, Number of speakers, Latitude, Longitude, Description of the location]
Index: []

In [58]:
large = data.sort_values(by="Number of speakers",ascending=False)
large.head(n=8)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Degree_of_endangerment,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Degree_of_endangerment,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Degree_of_endangerment,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Degree_of_endangerment,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Degree_of_endangerment,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Degree_of_endangerment,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Degree_of_endangerment,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Degree_of_endangerment,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."

In [67]:
bystatus = data.groupby("Degree of endangerment")
bystatus.head()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
48,398,Picard,"Belgium, France","BEL, FRA",Severely endangered,700000.0,50.2331,2.7905,the regions of Picardy (Picardie) and Nord-Pas...
62,375,Languedocian,France,FRA,Severely endangered,500000.0,43.8899,2.5378,an area from Bordeaux in the northwest to Mont...
77,2165,Judezmo (Israel),Israel,ISR,Severely endangered,400000.0,32.0872,34.7737,resettled communities in Israel where the majo...
79,378,Limousin,France,FRA,Severely endangered,400000.0,46.0579,1.8017,"the departments of Corréze and Haute-Vienne, m..."
104,336,Breton,France,FRA,Severely endangered,250000.0,48.2246,-3.9331,western Brittany; many émigré communities
232,1587,Parji,India,IND,Critically endangered,51216.0,18.5629,82.8039,Madhya Pradesh
250,2180,Zenatiya,Algeria,DZA,Critically endangered,50000.0,35.5702,1.8099,The Ouarsenis region including the the Tissems...
307,1490,Mayo,Mexico,MEX,Critically endangered,32869.0,26.9114,-109.6271,"Municipalities of Cajeme, Etchojoa, Huatabampo..."
310,1561,Sirmaudi,India,IND,Critically endangered,31144.0,30.9823,77.1569,"Himachal Pradesh, near Shimla and Solan"
332,2181,Tidikelt,Algeria,DZA,Critically endangered,30000.0,26.8828,2.5488,Tidkilet region especially In Salah and severa...
485,2618,Tobada',Indonesia,IDN,Extinct,12000.0,-2.0190,119.4708,"On the headwaters of the Budong-Budong River, ..."
1040,2059,Tamazight (Ait Rouadi),Morocco,MAR,Extinct,1637.0,32.5745,-5.9655,Semguet et Guettaya centers of Kasbat Tadla 2...
2221,580,Canichana,Bolivia (Plurinational State of),BOL,Extinct,3.0,-14.5835,-64.9731,"San Pedro, province of Cercado, department of ..."
2269,2112,Lae,Papua New Guinea,PNG,Extinct,1.0,-6.6318,147.1810,Morobe
2277,661,Uru,Bolivia (Plurinational State of),BOL,Extinct,1.0,-16.5519,-68.6645,"Last documented community was Iru-Ito, near An..."

In [69]:
data.groupby(["Countries","Degree of endangerment"]).count()

                                                                           ID  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered    2
                                                   Definitely endangered    5
                                                   Severely endangered      4
                                                   Vulnerable               1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered      1
...                                                                        ..
Viet Nam                                           Severely endangered      2
                                                   Vulnerable               4
Western Sahara                                     Critically endangered    1
Yemen                                              Definitely endangered    1
                                                   Severely endangered      1

                                                                           Name in English  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                 2
                                                   Definitely endangered                 5
                                                   Severely endangered                   4
                                                   Vulnerable                            1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                   1
...                                                                                    ...
Viet Nam                                           Severely endangered                   2
                                                   Vulnerable                            4
Western Sahara                                     Critically endangered                 1
Yemen                                              Definitely endangered                 1
                                                   Severely endangered                   1

                                                                           Country codes alpha 3  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                       2
                                                   Definitely endangered                       5
                                                   Severely endangered                         4
                                                   Vulnerable                                  1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                         1
...                                                                                          ...
Viet Nam                                           Severely endangered                         2
                                                   Vulnerable                                  4
Western Sahara                                     Critically endangered                       1
Yemen                                              Definitely endangered                       1
                                                   Severely endangered                         1

                                                                           Number of speakers  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                    2
                                                   Definitely endangered                    5
                                                   Severely endangered                      4
                                                   Vulnerable                               0
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                      0
...                                                                                       ...
Viet Nam                                           Severely endangered                      2
                                                   Vulnerable                               4
Western Sahara                                     Critically endangered                    1
Yemen                                              Definitely endangered                    1
                                                   Severely endangered                      1

                                                                           Latitude  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered          2
                                                   Definitely endangered          5
                                                   Severely endangered            4
                                                   Vulnerable                     1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered            1
...                                                                             ...
Viet Nam                                           Severely endangered            2
                                                   Vulnerable                     4
Western Sahara                                     Critically endangered          1
Yemen                                              Definitely endangered          1
                                                   Severely endangered            1

                                                                           Longitude  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered           2
                                                   Definitely endangered           5
                                                   Severely endangered             4
                                                   Vulnerable                      1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered             1
...                                                                              ...
Viet Nam                                           Severely endangered             2
                                                   Vulnerable                      4
Western Sahara                                     Critically endangered           1
Yemen                                              Definitely endangered           1
                                                   Severely endangered             1

                                                                           Description of the location
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                             2
                                                   Definitely endangered                             5
                                                   Severely endangered                               4
                                                   Vulnerable                                        0
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                               1
...                                                                                                ...
Viet Nam                                           Severely endangered                               0
                                                   Vulnerable                                        0
Western Sahara                                     Critically endangered                             1
Yemen                                              Definitely endangered                             1
                                                   Severely endangered                               1

[531 rows x 7 columns]

In [71]:
x = data["Number of speakers"].groupby(data['Countries'])
x.head()

0       7500000.0
1       5000000.0
2       4800000.0
3       4000000.0
4       3500000.0
          ...
2689          NaN
2705          NaN
2708          NaN
2713          NaN
2716          NaN
Name: Number of speakers, Length: 662, dtype: float64

In [78]:
data["vfew"] = data["Number of speakers"].apply(lambda x: x <= 5000)
data.head(n=6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,vfew
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz...",False
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th...",False
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...,False
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...,False
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-...",False

In [79]:
group_by_5K=data.groupby(["vfew"])
group_by_5K.size()

vfew
False     879
True     1843
dtype: int64

In [81]:
group_by_5KC = data.groupby(["vfew","Countries"])
group_by_5KC.size()

vfew   Countries
False  Afghanistan                                                                                                                                                                                                                                                                                                                                                                                      2
       Albania, Algeria, Bosnia and Herzegovina, Bulgaria, Croatia, Greece, The former Yugoslav Republic of Macedonia, Morocco, Romania, Turkey, Serbia                                                                                                                                                                                                                                                 1
       Albania, Bulgaria, Greece, The former Yugoslav Republic of Macedonia, Serbia                                                                                                                                                                                                                                                                                                                     1
       Albania, Bulgaria, The former Yugoslav Republic of Macedonia, Romania, Serbia                                                                                                                                                                                                                                                                                                                    1
       Albania, Germany, Austria, Belarus, Bosnia and Herzegovina, Bulgaria, Croatia, Estonia, Finland, France, Greece, Hungary, Italy, Latvia, Lithuania, The former Yugoslav Republic of Macedonia, Netherlands, Poland, Romania, United Kingdom of Great Britain and Northern Ireland, Russian Federation, Slovakia, Slovenia, Switzerland, Czech Republic, Turkey, Ukraine, Serbia, Montenegro      1
                                                                                                                                                                                                                                                                                                                                                                                                     ...
True   United States of America                                                                                                                                                                                                                                                                                                                                                                       192
       Vanuatu                                                                                                                                                                                                                                                                                                                                                                                         47
       Venezuela (Bolivarian Republic of)                                                                                                                                                                                                                                                                                                                                                              18
       Viet Nam                                                                                                                                                                                                                                                                                                                                                                                        14
       Western Sahara                                                                                                                                                                                                                                                                                                                                                                                   1
Length: 346, dtype: int64

## Cross-tab

In [83]:
import pandas as pd
import numpy as np

In [84]:
data = pd.read_csv("C:\\Users\\onvac\\OneDrive\\Desktop\\Python\\Training\\Udemy course\\MyTraining files\\ForAnaconda\\5_Data\\endangeredLang2.csv")
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [88]:
x = pd.crosstab(data["CountryCode"],data["Endangerment"],margins = True)
x.head(4)

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,2,5,0,4,1,12
"ALB, BGR, GRC, MKD, SRB",0,1,0,0,0,1
"ALB, BGR, MKD, ROU, SRB",0,0,0,0,1,1
"ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FRA, GRC, HUN, ITA, LVA, LTU, MKD, NLD, POL, ROU, GBR, RUS, SVK, SVN, CHE, CZE, TUR, UKR, SRB, MNE",0,1,0,0,0,1

In [89]:
def perConvert(var):
    return var/float(var[-1])

In [92]:
x = pd.crosstab(data["CountryCode"],data["Endangerment"],margins=True).apply(perConvert,axis=1)
x.head(3)

C:\Users\onvac\AppData\Local\Temp\ipykernel_11160\3694094084.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return var/float(var[-1])

Endangerment,Critically endangered,Definitely endangered,Extinct,Severely endangered,Vulnerable,All
CountryCode,,,,,,
AFG,0.166667,0.416667,0.0,0.333333,0.083333,1.0
"ALB, BGR, GRC, MKD, SRB",0.000000,1.000000,0.0,0.000000,0.000000,1.0
"ALB, BGR, MKD, ROU, SRB",0.000000,0.000000,0.0,0.000000,1.000000,1.0

### *Reshaping*

In [18]:
import pandas as pd
import numpy as np

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [7]:
dstack = data.stack()
dstack

0     ID                               1022
      EnglishNames            South Italian
      Countries                       Italy
      CountryCode                       ITA
      Endangerment               Vulnerable
                              ...
2721  Countries                        Oman
      CountryCode                       OMN
      Endangerment    Critically endangered
      Latitude                      23.4027
      Longitude                     58.0957
Length: 21585, dtype: object

In [8]:
d = dstack.unstack()
d

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.249
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.956,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
...,...,...,...,...,...,...,...,...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.458,122.9802
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.664
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.137,-70.2136
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.85
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957

In [35]:
patient=pd.DataFrame({"FirstName" : ["Bill","Jane"],
                      "LastName" : ["Shakespeare","Austen"],
                      "Bloodtype" : ["0+","B+"],
                      "Wt" : [85,62]})
print(patient)
print(pd.melt(patient, id_vars = ["FirstName","LastName"], var_name = "measurements"))

  FirstName     LastName Bloodtype  Wt
0      Bill  Shakespeare        0+  85
1      Jane       Austen        B+  62
  FirstName     LastName measurements value
0      Bill  Shakespeare    Bloodtype    0+
1      Jane       Austen    Bloodtype    B+
2      Bill  Shakespeare           Wt    85
3      Jane       Austen           Wt    62

In [49]:
x=data[0:15]
x.drop(["ID","EnglishNames","CountryCode","Latitude","Longitude"], axis = 1, inplace = True)
print(x.head())

KeyError: "['ID', 'EnglishNames', 'CountryCode', 'Latitude', 'Longitude'] not found in axis"

### **Pivoting**

In [57]:
data2 = pd.read_csv("C:\\Users\\onvac\\OneDrive\\Desktop\\Python\\Training\\Udemy course\\MyTraining files\\ForAnaconda\\5_Data\\GlobalFirePower.csv")
data2.head(6)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500
4,France,FRA,5,66836154,30000000,23750000,775000,387635,204000,183635,...,29640,464,35000,5360000,138200,2737000,643801,4853,4072,8501
5,United Kingdom,UKD,6,64430428,30000000,24040000,750000,232675,151175,81500,...,16454,460,45700,8126000,129600,2788000,243610,12429,443,3200

In [65]:
x = pd.pivot_table(data2,index=["ISO3"])
#x(6)

TypeError: agg function failed [how->mean,dtype->object]

In [66]:
data = pd.read_csv("C:\\Users\\onvac\\OneDrive\\Desktop\\Python\\Training\\Udemy course\\MyTraining files\\ForAnaconda\\5_Data\\endangeredLang2.csv")
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [69]:
p = pd.pivot_table(data,index=["CountryCode","Endangerment"],values = ["No"], aggfunc=np.sum)
p

C:\Users\onvac\AppData\Local\Temp\ipykernel_4364\3445579712.py:1: FutureWarning: The provided callable <function sum at 0x0000019BFA1F22A0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  p = pd.pivot_table(data,index=["CountryCode","Endangerment"],values = ["No"], aggfunc=np.sum)

                                                     No
CountryCode             Endangerment
AFG                     Critically endangered     300.0
                        Definitely endangered   14000.0
                        Severely endangered      4200.0
                        Vulnerable                  0.0
ALB, BGR, GRC, MKD, SRB Definitely endangered  500000.0
...                                                 ...
ZAF                     Extinct                     0.0
ZAI                     Critically endangered      10.0
                        Extinct                     0.0
                        Severely endangered      2000.0
ZAI, SDN                Critically endangered     494.0

[531 rows x 1 columns]

### ***rank and sort***

In [73]:
s=pd.Series(range(4),index=['d','a','b','c'])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
d    0
a    1
b    2
c    3
dtype: int64

In [78]:
s2= s.sort_index()
s2

a    1
b    2
c    3
d    0
dtype: int64

In [84]:
s3 = s.sort_index(axis=1,ascending = False)
s3

ValueError: No axis named 1 for object type Series

In [86]:
x = s.sort_values(by = ['ISO3'])
x

TypeError: Series.sort_values() got an unexpected keyword argument 'by'